:root {
  --c-black: #201f27;
  --c-beige: #eae8e5;
  --c-primary: var(--c-beige);
  --c-secondary: var(--c-black);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--c-secondary);
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic",
    Verdana, Meiryo, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.14em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--c-primary);
  overflow-x: hidden;
}
